<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chainway.newjtbinterfaceservice.mapper.LearnTimeMapper">
    <select id="LearnTimefunction" parameterType="String" statementType="CALLABLE" resultType="java.lang.Boolean">
        {
            call PROC_ClassRecord{
                #{studyLocusId,mode=IN,jdbcType=VARCHAR}
            } }
    </select>
</mapper>